* {
  margin: 0;
  padding: 0;
  height: auto;
  font-family: MarvelRegular;
}

body {
  background-color: #323232;
}

.appContainer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background-color: #323232;
}