.stats {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 90%;
  padding: 0.5rem;
}

.score {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1.75rem;
  padding: 0.5rem;
  font-family: MarvelBold;
  color: white;
}

.timer {
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-size: 1.75rem;
  padding: 0.5rem;
  font-family: MarvelBold;
  color: white;
}

@media screen and (min-width: 800px) {
  .stats {
    width: 60%;
  }

  .score {
    font-size: 2.25rem;
    padding: 0.5rem;
  }

  .timer {
    font-size: 2.25rem;
    padding: 0.5rem;
  }
}