.header,
.footer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: 3vh;
  margin: 40px 1vw;
  color: white;
  width: 98vw;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
}

.content {
  height: auto;
  margin: 40px 1vw;
}