.header,
.footer {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  height: auto;
  padding: 10px 1vw 10px 1vw;
  color: white;
  width: 98vw;
  font-family: MarvelBold;
}

.header {
  font-size: 5rem;
  letter-spacing: -6px;
  background-color: #F0151E;
  text-align: center;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
}

.content {
  height: auto;
  margin: 40px 1vw;
}